{namespace ch.cern.alice.o2.ProjectTemplate}

/**
 * Render the information page for My Project Template.
 */
{template .renderMyProjectTemplateExplanation}
    <p>{getText('o2.project.template.info.page.description')}</p>bbb
{/template}